

<div class="container">
  <div class="row">
      <div class="col-md">
        <app-zegar></app-zegar>
      </div>
  </div>
  <div class="row">
    <div class="col-md text-right">
    <input [(ngModel)]="tekstInput" />
    <button (click)="dodajDoListy()" class="btn btn-success">
      Dodaj
    </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <app-lista></app-lista>
    </div>
    <div class="col-md">
      <app-lista-wykonana></app-lista-wykonana>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

<app-kalkulator></app-kalkulator>
